footer{
    background: $footerBg;
    padding-top: 30px;
    padding-bottom: 30px;
    .t_footerContent{
        display: flex;
        justify-content: space-between;
        .t_footerPart{
            display: flex;
        }
        .t_copyright{
            @include textStyle(normal);
            font-size: 13px;
            line-height: 16px;
            color: $white;
        }
        .t_money{
            @include textStyle(normal);
            font-size: 13px;
            line-height: 16px;
            color: #C3C3C3;
            display: flex;
            align-items: center;
            svg{
                margin-right:10px ;
            }
        }
        
        .t_footerLink{
            @include textStyle(normal);
            font-size: 13px;
            line-height: 16px;
            color: $white;
            text-decoration: none;
            display: flex;
            align-items: center;
            svg{
                margin-right:10px ;
            }
        }
        
    }
    .t_money:not(:first-child){
        margin-left: 38px;
    }
    .t_footerLink:not(:first-child){
        margin-left: 38px;
    }
    .t_footerPart:nth-child(2){
        border-left: 1px solid #C3C3C3;
        border-right: 1px solid #C3C3C3;
        padding: 0 40px;
    }
}
@media screen and (max-width:1280px){
    footer .t_footerPart:nth-child(2){
        padding: 0 20px;
    }
    footer .t_money:not(:first-child) {
        margin-left: 8px;
    }
    footer .t_footerLink {
        margin-left: 8px;
    }
    footer .t_footerLink:not(:first-child) {
        margin-left: 8px;
    }
}
@media screen and (max-width: 960px){
    footer .t_footerContent{
        flex-wrap: wrap;
    }
    footer .t_footerPart:nth-child(2) {
        padding: 0 ;
        border: 0;
    }
    .t_footerPart:nth-child(n +3){
        margin-top: 20px;
    }
    footer .t_footerLink {
        margin-left: 0;
    }
    footer{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media screen and (max-width:640px){
    footer .t_footerContent{
        flex-direction: column;
    }
    .t_footerPart:nth-child(n + 2) {
        margin-top: 20px;
    }
}
@media screen and (max-width:458px){
    footer .t_footerContent .t_money{
        font-size: 12px;
        line-height: 14px;
    }
}